@media (max-width: 1920px) {
    section#moreInfo .container {
        width: 100%;
        min-height: 100vh;
        background-color: #d86074;
        display: flex;
        justify-content: center;
        .cardProduct {
            width: 90%;
            height: 100%;
            padding: 30px 100px;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
                font-size: 80px;
                text-align: center;
            }
            h2 {
                font-size: 40px;
            }
            p {
                font-size: 30px;
            }
            span {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 1450px) {
    section#moreInfo .container {
        width: 100%;
        min-height: 100vh;
        background-color: #d86074;
        display: flex;
        justify-content: center;
        .cardProduct {
            width: 90%;
            height: 100%;
            padding: 30px 100px;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
                font-size: 80px;
                text-align: center;
            }
            h2 {
                font-size: 40px;
            }
            p {
                font-size: 30px;
            }
            span {
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 1050px) {
    section#moreInfo .container {
        width: 100%;
        min-height: 100vh;
        background-color: #d86074;
        display: flex;
        justify-content: center;
        .cardProduct {
            width: 90%;
            height: 100%;
            padding: 30px 100px;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
                font-size: 60px;
                text-align: center;
            }
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 15px;
            }
            span {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 550px) {
    section#moreInfo .container {
        width: 100%;
        min-height: 100vh;
        background-color: #d86074;
        display: flex;
        justify-content: center;
        .cardProduct {
            width: 90%;
            height: 100%;
            padding: 30px 30px;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
                font-size: 20px;
                text-align: center;
            }
            h2 {
                font-size: 10px;
            }
            p {
                font-size: 8px;
            }
            span {
                font-size: 8px;
            }
        }
    }
}